a:focus {
    color: white;
}
.fixed .content-wrapper {
    min-height: 582px !important;
}
.page-title h1 {
    font-size: 24px;
}
.main-sidebar {
    background-color: #103B68;
}
.sidebar-menu .treeview-menu {
    background: #00468F;
}

.main-header .navbar {
    background-color: #103B68;
}
.main-header .top-nav > li > a {
    padding: 16px 15px;
}
.main-header .navbar .sidebar-toggle:hover {
    background-color: #296CB3;
}
footer {
    background: #e4e1e1;
}
.page-title {
    background-color: #275C95;
    color: white;
    box-shadow: 8px 6px 10px rgba(0, 0,0,0.4);
}
.first-letter {
    color: #103B68;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #296CB3;
}
.nav-tabs > li > a:hover {
    color: #143d4e;
}
.form-control {
    border: 2px solid #00468F;
}
.panel-primary > .panel-heading {
    margin: 0 auto;
    display: table;
}
.nav-tabs > li > a {
    font-size: 17px;
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #30A5FF !important;
}
.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #F36A5A !important;
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #1ABC9C !important;
}
.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #FABE28 !important;
}
.btn-primary {
    background-color: #103B68;
    border: 2px solid #00a0e3;
}
.addMore {
    background: #103B68;
    border: 2px solid #00a0e3;
}
.nav-tabs > li {
    border: 1px solid #00468F;
    margin-right: 2px;
}
.form-control {
    border: 1px solid #00468F;
    font-weight: normal;
}
.form-control:focus {
    border: 1px solid #1685cc;
}











