/*=====================================================
=            Bootstrap Media Queries            =
=====================================================*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1500px) {
.design-by-logo {
    margin-left: 0 !important;
}
.logo-footer {
    width: 180px !important;
}
footer p {
    margin-top: 15px important;
}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

footer p {
    font-size: 10px !important;
margin-top: 10px;
}
.logo-footer {
    width: 130px !important;
}
.design-by-logo {
    padding: 7px 0 !important;
}
.design-by-logo {
    margin-left: 0;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
footer p {
    font-size: 10px !important;
}
footer p a {
    font-size: 10px !important;
}
.logo-footer {
    width: 80px !important;
}
.design-by-logo {
    margin-left: 0 !important;
    width: 70px !important;
}
footer p {
    margin-top: 5px !important;
}
.design-by-logo {
    padding: 0 !important;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
footer p {
    font-size: 10px !important;
}
footer p a {
    font-size: 10px !important;
}
.logo-footer {
    width: 80px !important;
}
.design-by-logo {
    margin-left: 0 !important;
    width: 70px !important;
}
footer p {
    margin-top: 5px !important;
}
.design-by-logo {
    padding: 0 !important;
}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
