.content{width: 100%;
margin-top:10px;
display: inline-block;}
.content-wrapper {
    background-color: #e7e7e7;
    height: auto;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: left !important;
    margin-bottom: 10px;
}
.treeview-menu .treeview-menu {
    padding-left: 7px;
    /*background: #7acee9;*/
    background: #21b4d6;
    /*background: #f79e2f;*/
}
.treeview-menu .treeview-menu .treeview-menu {
    background: #04698c;
    /*background: #9e5903;*/
}
.has-feedback .form-control {
    padding-right: 0;
}
.modal-header{background: #ffff99 !important;
    text-align: center;
    border-bottom: 4px solid #a1a12c!important;}
.nav-tabs > li > a {font-size: 16px !important}
.star-required {
    color: red;
}
.btn-view-edit{background: #ffffff !important;}
div.dataTables_wrapper div.dataTables_info {
    text-align: center !important;
}
a.btn-action.btn-view-edit.btn.btn-primary {
    background: #ffffff !important;
}
select.form-control.input-sm {
    height: 32px!important;
    padding: 0px!important;
}
.paginate_button.previous a {
    background: #cccccc;
    color: #000000;
    margin-right: 5px;
}
.paginate_button.next a {
    background: #cccccc;
    color: #000000;
    margin-left: 5px;
}
div#sampleTable3_length{
    font-size:14px !important;
}
.btn-group.btn-toggle {
    float: right;
    margin-right: 10px;
}
div#sampleTable3_length,div#example_length,div#sampleTable3_info,div#example_info,div#sampleTable1_info,div#sampleTable1_length,div#sampleTable2_info,div#sampleTable2_length{
    width: 25%;
}
div#sampleTable3_paginate,div#example_paginate,div#sampleTable2_paginate,div#sampleTable1_paginate{
    width: 50%;
}
div#sampleTable345_length, div#sampleTable345_info,div#sampleTable345_paginate{
    display: inline-block;
    vertical-align: middle;
    padding-top: 0px;
}
div#sampleTable345_paginate{
    width:50%;
}
div#sampleTable345_length, div#sampleTable345_info{
    width: 25%;
}
div#sampleTable345_info{
    text-align: right !important;
}
.content-header.page-title a img{
    border: 2px solid #0e59a5!important;
}
.search_common{
    float: right;
    display: FLEX;
    margin-top: -5px;
    justify-content: space-between;
}
input[type="radio"]:disabled {
    border: 2px solid #6d6d6d;
    border-radius: 8px;
    -webkit-appearance: none;
}
div#sampleTable1_length,div#sampleTable1_info,div#sampleTable1_paginate,div#sampleTable3_length,div#sampleTable3_info,div#sampleTable3_paginate,div#example_length,div#example_info,div#example_paginate,div#sampleTable2_length,div#sampleTable2_info,div#sampleTable2_paginate {
    display: inline-block;
    vertical-align: middle;
    padding-top: 0px;
}
div#sampleTable3_info,div#example_info,div#sampleTable2_info,div#sampleTable1_info{
    text-align:right !important;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #ddd;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px 8px 5px 8px !important;
}
.skin-blue .sidebar-menu .treeview-menu > li.active > a, .skin-blue .sidebar-menu .treeview-menu > li > a:hover {
    color: #fff;
    background: linear-gradient(to top, #ffcc99 0%, #ff6600 100%);
}
.paginate_button.previous a:before {
  content: '< ';
}
.work_new_center{
    width: 100%;
    display: grid !important;
}
.paginate_button.next a:after {
  content: ' >';
}
th{text-align:center !important;}
.ac_name_first {float: left;width: 48%;}
.ac_name_middel {width:48%;float: left;}
.panel-title{padding: 20px;background: #5e77de;color: #fff;width: 100%;float: left;margin: 0 0 4px 0;}
.form-control-accordion{width: 100%;padding: 6px;}
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
    position: absolute;
    bottom: 24px;
    right: 39px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #e7e7e7 !important;
  
}
.todo-list > li{    background-color: #038ee0; color:#fff;}
.todo-list > li a{  color:#fff;}
.pager li > a:focus, .pager li > a:hover {
    text-decoration: none;
    background-color: #286db5;
}
/*****Owner_Information*****/

.new-page-title { float:left; width:100%; background:#D6EBFA; box-shadow:0 1px 2px rgba(0, 0, 0, 0.1); border:1px solid #00a0e3; margin:-9px 0 15px 0; border-radius:4px; padding:12px 0; }

.new_client_id { float:left; width:100%; background:#26bdaf; padding:16px 0; border:1px solid #098478; text-align:center; margin:9px 0; }
.new_client_id label { display:block; font-size:14px; color:#FFF; font-weight:600; margin:0; }
.new_client_id p { display:block; font-size:18px; color:#FFF; font-weight:bold; font-style:normal !important; margin:0; }

.new_company_name { float:left; width:100%; background:#FFF; padding:0; border:1px solid #286db5; margin:4px 0; }
.new_company_name label { width:39%; display:inline-block; font-size:14px; color:#FFF; background:#2775ae; font-weight:600; margin:0 2% 0 0; text-align:left; padding:4px 10px; }
.new_company_name p { width:58%; display:inline-block; font-size:14px; color:#286db5; font-weight:normal; font-style:normal !important; margin:0; }

.new_images_sec { float:left; width:100%; margin:12px 0; }
.ln{
    /*position: absolute;*/
    /*width: 208px;*/
    /*left: 159px;*/
    /*top: 21px;*/
    /*font-weight: 600;*/
    display:block;
}
.btn_new_save {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    padding: 8px 0;
    background: linear-gradient(-180deg, #a3dff3, #286db5);
    margin-bottom: 20px;
    text-align: center;
    border-top: 1px solid #286db5;
    border-left: 1px solid #286db5;
    border-right: 1px solid #286db5;
    border-bottom: 2px solid #286db5;
}

.btn_new_save:hover, .btn_new_save:focus {
    color: #FFF;
    background: linear-gradient(0deg, #a3dff3, #286db5);
}
.btn_new_cancel {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    padding: 8px 0;
    background: linear-gradient(-180deg, #e78585, #b38e08);
    margin-bottom: 20px;
    text-align: center;
    border-top: 1px solid #545454;
    border-left: 1px solid #545454;
    border-right: 1px solid #545454;
    border-bottom: 2px solid #545454;
}
.btn_new_cancel:hover, .btn_new_cancel:focus {
    color: #FFF;
    background: linear-gradient(180deg, #b38e08, #e78585);
}
.ln1{
    /*position: absolute;*/
    /*width: 208px;*/
    /*left: 201px;*/
    /*top: 73px;*/
    /*font-weight: 600;*/
    display:block;
}
.nav-tabs {
    padding: 12px;
    background: #e0f1fd !important;
    border: 1px solid #3598dc !important;
}
.Branch h1 {
    padding: 0px;
    margin: 0px 0 0 0;
    color: #103b68 !important;
    font-size: 22px;
}
.panel-body {
    padding: 6px 15px 6px 15px;
}
.form-control:focus {
    border:2px solid #1685cc;
    outline: 0;
}
.sub_service .sub_cat:nth-child(even){
    background: #fffae0;
    padding: 10px 0px 1px;
    margin-bottom: 10px;
    border: 1px solid #e5d47c;
}
.sub_service .sub_cat:nth-child(odd){
    background: #e5f2fd;
    padding: 10px 0px 1px;
    margin-bottom: 10px;
    border: 1px solid #9cc5e9;
}
.sub_val_app {
    background: #dfffea;
    padding: 10px 0px 1px;
    margin-bottom: 10px;
    border: 1px solid #60d287;
}
.form-control,.form-control-insu {
    height: 40px;
    border-radius: 3px;
    border: 2px solid #2fa6f2;
    font-size: 16px !important;
    outline: 0;color:#000;padding: 6px 6px;
}
.Branch {
    width: 100%;
    float: left;
    margin: 0 0 12px 0;
    text-align: center;
    background: #fff2b3 !important;
    border: 2px solid #103b68;
    padding: 4px 0;
}
.nav-tabs > li {
    width: 24% !important;
margin: 2px 0 0 8px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 8px
}
.nav-tabs > li > a {

    text-align: center;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #FFF !important;
    border: 1px solid #12186b;
    background: #12186b;
    cursor: default;
    border-radius: 8px;
}
.panel-heading a::before {
    font-family: 'Glyphicons Halflings';
    content: "" !important;
    float: right;
    transition: all 0.5s;
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.panel-heading {
    padding: 0px 0px;}
.sidebar-menu > li > a {
    padding: 0;
    display: block;
}
.box{
    display: inline-block;
}
.skin-blue .sidebar-menu > li.header {
    color: #fff;
    background: #007ec9;
}
.topbar {
    box-shadow: 3px 3px 5px #191c1f91;
    padding: 12px 20px;
    background-color: #fff;
    border-radius: 0;
    float: left;
    margin: 16px 0;
}
.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion {
    width: 39px;
    display: inline-block;
    background: #0271b1;
    text-align: center;
    padding: 13px 0;
    margin-right: 9px;
    font-size: 22px !important;
     background-image: linear-gradient(to right bottom, #2399f4, #008ff6, #0084f7, #0078f7, #006bf5, #006af5, #006af6, #0069f6, #0075fa, #0081fc, #008bfe, #0d96ff);
}
li.treeview.iconclientmanagement span {
    margin-left: -1px;
}
.sidebar-menu li>a>.fa-angle-left, .sidebar-menu li>a>.pull-right-container>.fa-angle-left{
    margin-right:0px !important;
}
.sidebar-menu > li {
    border-bottom: 1px solid #e7e7e7;
}
.skin-blue .sidebar-menu > li.active > a {
    border-left-color: #e7e7e7;
}
.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a {
 
    background: linear-gradient(to bottom, #ffb963 0%, #ff9966 100%);
}
.sidebar-menu > li:hover > a{
    background:linear-gradient(to top, #ffcc99 0%, #ff6600 100%);
}
.treeview-menu > li {
    margin: 0 0 0 0px;
    padding: 2px 0;
    border-bottom: 1px solid #e7e7e7;
}
.skin-blue .main-header .navbar {
    background-color: #038ee0;
}
.professional_note {width: 27%;}
#field0 { margin-bottom:0px; padding:10px 0 0 0; }
.second-group {border: 2px solid #286db5;padding: 10px 0;}
.dd {border: 2px solid #286db5;padding: 10px 0;margin-bottom: 10px;}

.cc {text-align: right;position: absolute;top: 4px;right: 26px;display:none;}
.Pro-btn {background-color: #103b68;border-color:#103b68;width:100%;}
.pc-row{display:none}
.cc:after{content: "\f295";font-family: FontAwesome;}
.input_fields_wrap_1{display: inline-table;width: 100%;}
.btn-add {z-index:9999;position: absolute;left: 70%;right: 0;bottom: -65px;width: 150px;}

.share_tabs_main { float:left; width:100%; margin-bottom:0px; }
.share_tabs { float:left; width:100%; }
.share_tabs_other { float:left; width:100%; }
.share_tab { float:left; margin:10px 1%; }
.share_firstn { width:14%; }
.share_m { width:5%; }
.share_lastn { width:14%; }
.share_position { width:15%; }
.share_persentage { width:10%; }
.share_date { width:11%; }
.share_add { float:left; width:7%; margin:10px 1% 0 1%; }
.share_remove { float:left; width:7%; margin:10px 1% 0 1%; }
.share_total { text-align:right; width:100%; }
.addbtn { display:block; width:90px; font-size:14px; padding:5px 0; border:1px solid #359e0b; border-radius:2px; vertical-align:top;}
.removebtn,.remove { display:block; font-size:14px; padding:5px 0; border:1px solid #d9534f; border-radius:2px; vertical-align:top;}
.model-width{margin: auto; width: 390px;border: #3668f6 1px solid;border-radius: 0;}
.model-width .modal-header {padding: 4px 10px; background: #fff;}
.model-width .modal-body {padding: 19px 0 0 0px;}
.model-width .modal-header h4{font-size:16px;}
.model-width .modal-footer{text-align:center;}
.primary {border: 1px solid #001ced;background-color: #d0d0d0 !important;border-radius: 0px;color: #000;/*padding: 5px 10px;width: 93px;*/font-weight: 200px;}
.topbar h1 {
    text-align: center;
    font-size: 28px;
    font-family: 'Proze Libre',serif;
    letter-spacing: 1.5px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    color:#222 !important;
}
.page-title {
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center;
        /*margin-top: 10px !important;*/
    border-bottom: 3px solid #12186b !important;
    border-top: 3px solid #12186b;
    box-shadow: 0 2px 10px 4px rgb(57 87 105 / 32%);
    padding-top: 12px;
    padding-bottom: 10px;
    background: #f1faff !important;
    height: 52px !important;
}
.cke_bottom{
    display:none;
}
a i.fa.fa-edit,button i.fa.fa-edit {
    color: #367fa9;
    border: 1px solid #367fa9;
    height: 27px;
    width: 27px;
    line-height: 1.4;
    transition: all 0.2s;
    border-radius:3px;
}
a i.fa.fa-edit:hover,button i.fa.fa-edit:hover{
    background: #367fa9;
    color: #ffffff;
}
a i.fa.fa-eye {
    color: #2869e0;
    height: 26px;
    width: 27px;
    line-height: 1.4;
    border: 1px solid #2869e0;
    border-radius:3px;
}
a i.fa.fa-eye:hover {
    background: #2869e0;
    color: #ffffff;
}
a i.fa.fa-print {
    color: #367fa9;
    height: 27px;
    width: 27px;
    border-radius:3px;
    line-height: 1.4;
    border: 1px solid #367fa9;
}
a i.fa.fa-print:hover {
    background: #367fa9;
    color: #ffffff;
}
a i.fa.fa-trash {
    color: #da0206;
    border: 1px solid #da0206;
    height: 27px;
    width: 27px;
    line-height: 1.4;
    border-radius:3px;
}
a i.fa.fa-trash:hover {
    background: #da0206;
    color: #ffffff;
}
.btn-delete {
    background: #ffffff;
}
.btn_edit {
    background: #5cb85c !important;
    color: #FFF;
    width: 70px;
    padding: 3px 0px !important;
}
.btn_pending {
    background: orange !important;
    color: #FFF;
    width: 70px;
    padding: 3px 0px !important;
}
.btn_approval {
    background: yellow !important;
    color: #FFF;
    width: 70px;
    padding: 3px 0px !important;
}
.btn_hold {
    background: blue !important;
    color: #FFF;
    width: 70px;
    padding: 3px 0px !important;
}
.btn_inactive {
    background: #ff0000 !important;
    color: #FFF;
    width: 70px;
    padding: 3px 0px !important;
}
.btn-group.btn-toggle input{
    height:33px;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
    background: #075892;
}
ul.treeview-menu.active ul.treeview-menu.active {
    /*background: #316b90 !important;*/
}
ul.treeview-menu.active ul.treeview-menu.active ul.treeview-menu.active {
    background: #245d80 !important;
}
.p-10{
    padding:10px;
}
.mb-0{
    margin-bottom:0px;
}
.cs1{
    width: auto;display: flex;padding-right: 10px;
}
.cs2{
    padding:0px;width: auto;display: flex;
}
.cs3{
    padding:0px !important;width:190px;
}
.tax_period{
    -webkit-padding-end: 0px !important;
    -webkit-padding-start: 0px !important;
}
.resp_abs{
    position:absolute;
}
.text-center{
    text-align: center !important;
}
.changes{
    margin-top:11px !important;
}
.page-title h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    color:#222;
}
footer {
    width: 100%;
    margin: auto;
    /*display: inline-block;*/
    background: #006eb0;
    position: relative;
    height:65px;
    z-index: 99;
    /*border-top: 10px solid #a3dff3;*/
   
}
footer p {
    text-align: center;
    margin-top: 20px;
    color: #fff !important;
    font-size: 16px;
}
footer p a {
    background: #fff;
    font-size: 17px;
    color: #585858;
    padding: 5px 11px;
    font-size: 17px;
    border-radius: 20px;
}
.hide1{display:none;}
    .navbar-right-menu { float:right; width:100%; }
.top_date_section { float:left; width:100%; padding:10px 0 0 0; }
.top_date_time { padding:0 !important; }
.top_date { float:left; width:39%; padding:4px 0; margin:0 1%; text-align:left; }
.top_time { float:left; width:27%; padding:4px 0; margin:0 1%; text-align:left; }
.top_day  { float:left; width:25%; padding:4px 0; margin:0 1%; text-align:left; }
.top_date i, .top_time i, .top_day i  { margin-right:12px; font-size:14px; color:#FFF; margin-top:0px !important; }
.top_date span, .top_time span, .top_day span  { font-size:16px; color:#FFF; }
.top_company { display:block;}
.top_company p { font-size:20px; color:#FFF; display:inline-block; margin:0; padding-left:10px; }

.top_name { float:right; margin:8px 0; }
.top_name i { font-size:18px; color:#FFF; display:inline-block; margin-right:10px; margin-top:5px; }
.top_name span { font-size:18px; color:#FFF; display:inline-block; margin-right:10px; margin-top:5px; }
.top_name i.icon-custom-submenu { font-size:12px; color:#FFF; display:inline-block; margin-right:10px; margin-top:5px; }
.top_name p { font-size:18px; color:#FFF; display:inline-block; margin:0; }
.accordion .card-header.expanded:after {font-family: 'FontAwesome';content: "\f068";float: right; color: #fff;background: #286db5;padding: 0px 5px;border-radius: 50%;}
.accordion .card-header:after {font-family: 'FontAwesome';content: "\f067";float: right; color: #fff;background: #286db5;padding: 0px 5px;border-radius: 50%;}

.accordion .card-header.collapsed:after {content: "\f067"; color: #fff;background: #286db5;padding: 0px 5px;border-radius: 50%;}
.gif1 {position: absolute;width: 55px;right: 0;top: -18px;left: 92px;}
.card-body{width: 100%;clear:both;}
.card-header{border:2px solid #727ebe; background:linear-gradient(90deg, #717bbb, #85c1ff); border-radius:0px; font-size:16px; padding:8px 10px; margin-bottom:2px; font-weight:600;}
.card-title{color:#fff;}
a:hover.card-title{color:#fff;}
.box-body{  padding: 10px;  background: #fff;}
.box1 {
	background-color: #00c1ec;
	border-radius: 5px;
    margin-bottom: 10px;
}
td{text-align: center;}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.fscw_client{
    width:8%;
}
.fscw_type_report{
    width:13%;
}
.fscw_type_taxation{
    width:27%;
}
.fscw_cate_taxation{
    width:13%;
}
.fscw_subcate_taxation{
    width:22%;
}
.fscw_year{
    width:8.5%;
}
.fscw_status{
    width:19%;
}
.fscw_filling_status{
    width:13%;
}
.fscw_fed_status{
    width:13%;
}
.fscc_acc_per{
    width:12.9%;
}
.fscc_acc_sw{
    width:14%;
}
.fscc_acc_loc{
    width:15%;
}
.fscc_btn{
    width:12.5%;
}
.fscc_type_ser{
    width:27.5%;
}
.fscc_type_business{
    width:17.5%;
}
.fscc_busin_cate{
    width:28%;
}
.fscc_period{
    width:19%;
}
.wstate1{
    width:59px;
    padding-right:10px;
}
.wstate2{
    width: 60px;
    margin-right: 5px;
}
.wcontrol1{
    width:83px;
    padding-right:10px;
}
.wcontrol2{
    width:96px;
}
.d_flex{
    display:flex;
}
.v_middle{
    vertical-align:middle;
}
.p_23{
    padding-right:23px;
}
.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
} 
.box2 {
	background-color: #717bbb;
	border-radius: 5px;
	margin-bottom: 10px;
}
.box3 {
	background-color: #71af8a;
	border-radius: 5px;
	margin-bottom: 10px;
}
.main-box {
    background-color: #fff;
    padding: 4px 4px;
    margin-bottom: 10px;
}
.box1 h2 {
    display: inline-block;
    background-color: #1b6fa4;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding: 25px 7px 17px;
    font-weight: 600;
    font-size: 37px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-right: 5px solid;
}
.box2 h2 {
    display: inline-block;
    background-color: #1b6fa4;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding: 25px 7px 17px;
    font-weight: 600;
    font-size: 37px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-right: 5px solid;
}
.box3 h2 {
    display: inline-block;
    background-color: #1b6fa4;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding:25px 7px 17px;
    font-weight: 600;
    font-size: 37px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-right: 5px solid;
}
.box1 h3 {
    display: inline-block;
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 9px;
}
.sidebar2{background: #71af8a;float: right;width:66%;}
.dt-buttons {
    width: auto;
    position: relative;
    top: 0;
    z-index: 0;
    float: right;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: center;
    margin-bottom: 10px;
}
div.dataTables_wrapper div.dataTables_filter label {
    font-weight: 400;
    white-space: nowrap;
    text-align: left;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: .5em;
    display: inline-block;
    width: 100%;
}
.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #616161;text-align: left;
    color:#222;
}
.form-group {
    margin-bottom: 10px;
}
.card-footer {
    width: 100%;
    display: inline-block;
    margin:5px 0 0 0px;
}
.btn-view-edit {
    background: #689203;
}
.btn-delete {
    background: #ffffff;
}
.btn-action {
    padding: 0px;
    /*margin: 0 4px 6px 0;*/
}
.btn-action, .btn-stutus {
    font-size: 13px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    color: #FFF;
    border:none;
}
.table-title a {
    display: inline-block;
    float: right;
    font-size: 14px;
    color: #FFF;
    background:#e67300;
    padding: 4px 15px 6px;
    border: 1px solid #333;
}
.table > thead > tr > th {
  /*  background: #98c4f2;*/
  background: #ffff99;
  border-top: 1px solid #222 !important;
    border-left: 1px solid #222 !important;
    border-right: 1px solid #222 !important;
}
.buttons-html5, .buttons-print {
    background: #ffffff;
    border: #b11111 2px solid;
    color: #fff;
    font-size: 0px !important;
    border-radius: 3px;
    padding: 8px 10px !important;
}
button.dt-button.buttons-pdf.buttons-html5 {
    color: #ea1818;
}
.buttons-pdf:hover {
    background: #b11111 !important;
    color:#ffffff;
}
.box2 h3 {
    display: inline-block;
    color: #fff;
    margin-left: 10px;
    font-size: 25px;
    margin-top: 9px;
}
.box3 h3 {
    display: inline-block;
    color: #fff;
    margin-left: 10px;
    font-size: 23px;
    margin-top: 9px;
}
.images-img {
    float: right;
    padding: 12px 10px 0;
    width: 91px;
}
.big-font {
    font-size:33px;
}
.information-btn {
    width: 100%;
    background-color: #0d4680;
    border-color: #0d4680;
}
.information-btn2 {
    width: 100%;
    background-color: #0d4680;
    border-color: #0d4680;
}
.information-btn3 {
    width: 100%;
    background-color: #0d4680;
    border-color: #0d4680;
}
input.paginate_input {
    width: 50px;
    text-align: center;
}
span.first.paginate_button {
    margin-right: 6px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #3e3e3e;
    text-decoration: none;
    background-color: #efefef;
    border: 1px solid #c7c7c7;
    cursor:pointer;
}
span.last.paginate_button {
    margin-left: 6px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #3e3e3e;
    text-decoration: none;
    background-color: #efefef;
    border: 1px solid #c7c7c7;
    cursor:pointer;
}
span.previous.paginate_button {
    margin-right: 6px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #ffffff;
    text-decoration: none;
    background-color: #006eb0;
    border: 1px solid #c7c7c7;
    cursor:pointer;
}
span.next.paginate_button{
    margin-left: 6px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #ffffff;
    text-decoration: none;
    background-color: #006eb0;
    border: 1px solid #c7c7c7;
    cursor:pointer;
}
/*****federal*****/
.federal_tabs_main { 
    float: left;
    width: 100%;
    margin-bottom: 10px;
    background: #e8f7fd;
    border: 1px solid #075387;
}
.mb-10{
    margin-bottom:10px;
}
.btn-group.btn-toggle label {
    padding-right: 10px;
}
.modal embed {
    height: 550px;
}
section.content-header.page-title.dash_title{
    height:102px !important;
}
.modal-footer .btn{
    border:1px solid #333;
}
.federal_tabs { float:left; width:98%; margin:0 1%; border-bottom:2px solid #DDD; padding:0 0 10px 0; }
.federal_tabs_other { float:left; width:100%; }
.federal_tab { float:left; margin:6px 0.5%; }
.federal_tab label { font-size:14px; color:#444; font-weight:bold; margin:0; }

.federal_name { width:15%; }
.federal_depart { width:30%; }
.federal_link { width:30%; }
.federal_tele { width:20%; }

.federal_add { float:left; width:10%; margin:28px 0.5% 0 0.5%; }
.federal_remove { float:left; width:10%; margin:28px 0.5% 0 0.5%; }

.federal_total { text-align:right; width:100%; font-weight:normal; }
.federal_addbtn { display:block; width:100%; font-size:14px; padding:9px 0; border:1px solid #359e0b; border-radius:2px; vertical-align:top;}
.federal_removebtn { display:block; width:100%; font-size:14px; padding:9px 0; border:1px solid #d9534f; border-radius:2px; vertical-align:top;}
/*****federal*****/

/*****federal_filling*****/
.comm_title_one { width:98%; font-size:18px; color:#000; padding:6px 0; background:#7de1ff; margin:0 1%; text-align:center; }
.comm_title_two { width:98%; font-size:18px; color:#000; padding:6px 0; background:#ffd48e; margin:0 1%; text-align:center; }
.filing_tabs_main { float:left; width:100%; margin-bottom:10px; }
.filing_tabs { float:left; width:98%; margin:0 1%; background:#ebf7ff; border-bottom:1px solid #c7e9ff; padding:0 0 10px 0; }
.filing_tabs_other { float:left; width:100%; }
.filing_tab { float:left; margin:6px 0.5%; }
.filing_tab label { font-size:14px; color:#444; font-weight:bold; margin:0; }

.filing_form { width:16%; }
.filing_name { width:25%; }
.filing_freq { width:16%; }
.filing_due_date { width:16%; }

.filing_add { float:left; width:10%; margin:26px 0.5% 0 0.5%; }
.filing_remove { float:left; width:10%; margin:26px 0.5% 0 0.5%; }
.filing_formula { float:left; width:10%; margin:26px 0.5% 0 0.5%; }

.filing_total { text-align:right; width:100%; font-weight:normal; }
.filing_addbtn { display:block; width:100%; font-size:14px; padding:5px 0; border:2px solid #359e0b; border-radius:2px; vertical-align:top;}
.btn_formula { display:block; width:100%; font-size:14px; padding:5px 0; border:2px solid #359e0b; border-radius:2px; vertical-align:top;}
.filing_removebtn { display:block; width:100%; font-size:14px; padding:5px 0; border:2px solid #d9534f; border-radius:2px; vertical-align:top;}
/*****federal_filling*****/

/*****federal_payment*****/
.payment_tabs_main { float:left; width:100%; margin-bottom:10px; }
.payment_tabs { float:left; width:98%; margin:0 1%; background:#fff4e2; border-bottom:1px solid #ffd591; padding:0 0 10px 0; }
.payment_tabs_other { float:left; width:100%; }
.payment_tab { float:left; margin:6px 0.5%; }
.payment_tab label { font-size:14px; color:#444; font-weight:bold; margin:0; }

.payment_form { width:16%; }
.payment_name { width:25%; }
.payment_freq { width:16%; }
.payment_due_date { width:16%; }

.payment_add { float:left; width:10%; margin:26px 0.5% 0 0.5%; }
.payment_remove { float:left; width:10%; margin:26px 0.5% 0 0.5%; }
.payment_formula { float:left; width:10%; margin:26px 0.5% 0 0.5%; }

.payment_total { text-align:right; width:100%; font-weight:normal; }
.payment_addbtn { display:block; width:100%; font-size:14px; padding:5px 0; border:2px solid #359e0b; border-radius:2px; vertical-align:top;}
.btn_formula { display:block; width:100%; font-size:14px; padding:5px 0; border:2px solid #359e0b; border-radius:2px; vertical-align:top;}
.payment_removebtn { display:block; width:100%; font-size:14px; padding:5px 0; border:2px solid #d9534f; border-radius:2px; vertical-align:top;}
/*****federal_payment*****/

/*****Owner_Information*****/
.professional_tabs_main { float:left; width:100%; }
.professional_tabs { float:left; width:100%; margin:5px 0; border:1px solid #075387; padding:6px 0; }
.professional_tabs:nth-child(odd) { background:#e8f7fd; }
.professional_tabs:nth-child(even) { background:#fff5dd; }

.professional_tab { float:left; margin:6px 1%; }
.professional_tab label { font-size:14px; color:#444; font-weight:normal; margin:0; }
.toggle-password{position: absolute;
right: 23px;
top: 10px}
.professional_profession { width:27%; }
.professional_state { width:10%; }
.professional_effective { width:16%; }
.professional_license { width:16%; }
.professional_expire { width:16%; }
.professional_expire_1,.professional_effective_1,.professional_license_1 { width:12%; }
.professional_note { width:39%; }

.professional_add { float:left; width:3%; margin:26px 1% 0 1%; }
.professional_btn {  float:left; width:15%; margin:26px 1% 0 1%; }

.btn_professional { display:block; width:100%; font-size:14px; color:#FFF; text-align:center; padding:5px 0; border-radius:2px; vertical-align:top; }
.btn_professional:hover { color:#FFF; }

.btn_professional_view { background:#1685cc; border:1px solid #015992; }
.btn_professional_view:hover, .btn_professional_view:focus { background:#015992; border:1px solid #1685cc; }

.btn_professional_renew { background:#1685cc; border:1px solid #015992; }
.btn_professional_renew:hover, .btn_professional_renew:focus { background:#015992; border:1px solid #1685cc; }

.btn_professional_add { background:#0aa01c; border:1px solid #017d10; }
.btn_professional_add:hover, .btn_professional_add:focus { background:#017d10; border:1px solid #0aa01c; }

.btn_professional_remove { background:#d62629; border:1px solid #da0206; }
.btn_professional_remove:hover, .btn_professional_remove:focus { background:#da0206; border:1px solid #d62629; }

.control-label-insu { font-size:14px; color:#222; font-weight:normal; margin:8px 0 0 0; }

.form-control-insu { display:block; width:100%; border-radius:4px; height:39px; padding:6px 6px; font-size:14px; line-height:24px; color:#000; background-color:#fff; background-image:none;  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075); box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075); -webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; -o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.form-control-insu { -moz-box-shadow:0px 1px 2px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow:0px 1px 2px 0 rgba(0, 0, 0, 0.1); box-shadow:0px 1px 2px 0 rgba(0, 0, 0, 0.1);  background-color:#FFF; }
.form-control-insu:focus { -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1); background-color:#fff; }

.fe_state_tab_main { float:left; width:96%; margin:5px 2%; border:1px solid #428bca; padding:10px 0; }
.fe_state_tab_main:nth-child(odd) { background:#e8f7fd; }
.fe_state_tab_main:nth-child(even) { background:#fff5dd; }
.fe_state_tab { float:left; width:100%; }
.fe_state_tab h3 { font-size:20px; color:#444; margin:0 0 10px 0; }
/*****Button_CSS*****/
.btn_new { font-size:14px; color:#FFF; padding:5px 0 !important; text-align:center; font-weight:600; }

.btn-view-license { display:block; width:100%; color:#333; text-transform:capitalize; background:linear-gradient(180deg, #fdff9a 30%, #e3e449 70%); border:1px solid #979800 !important; }
.btn-view-license:hover { color:#333; background:linear-gradient(180deg, #fbff37 30%, #d3d40e 70%); border:1px solid #333 !important; }

.btn-renew { display:block; width:100%; color:#333 !important; text-transform:capitalize; background:linear-gradient(180deg, #ffe4a3 30%, #f5c34d 70%); border:1px solid #e2a616 !important; }
.btn-renew:hover { color:#333 !important; background:linear-gradient(180deg, #ffd97d 30%, #eab025 70%); border:1px solid #333 !important; }

.btn-add { display:block; width:100%; color:#FFF; text-transform:capitalize; background:#00a0e3; border:1px solid #006b98 !important; }
.btn-add:hover,.btn-add:focus { color:#FFF; background:#006b98; border:1px solid #00a0e3 !important; }

.btn-remove { display:block; width:100%; color:#FFF; text-transform:capitalize; background:#cd2929; border:1px solid #a90b0b !important; }
.btn-remove:hover,.btn-remove:focus { color:#FFF; background:#a90b0b; border:1px solid #cd2929 !important; }
.btn-formula { display:block; width:100%; color:#FFF; text-transform:capitalize; background:#6999f1; border:1px solid #2f64c5 !important; }
.btn-formula:hover { color:#FFF; background:#2f64c5; border:1px solid #6999f1 !important; }
.btn-license-history { display:block; width:100%; color:#FFF; text-transform:capitalize; background:#1fced4; border:1px solid #02a8ae !important; }
.btn-license-history:hover { color:#FFF; background:#02a8ae; border:1px solid #1fced4 !important; }

.newcheckbox    input[type=checkbox]{opacity:0; position: absolute;} 
 .newcheckbox   input[type=checkbox] + label {position:relative;} 
  .newcheckbox input[type=checkbox] + label{ background:url(icon_checkbox.png) no-repeat left top; padding-left:30px; height:25px;}
 .newcheckbox  input[type=checkbox]:checked + label {
    background:url(icon_checkbox.png) no-repeat left -24px;
    font-style: normal;
  } 
.setup_lic_one{width:25%;}  
.setup_lic_two{width:25%;}  
.setup_lic_three{width:16.66%;}  
.setup_lic_four{width:16.66%;}  
.setup_lic_five{width:16.66%;}  
.setup_lic_six{width:50%;}  
.setup_lic_seven,.setup_lic_eight{width:16.66%;margin-top: 8px;}

  input[type=checkbox]{opacity:0; position: absolute;} 
   input[type=checkbox] + label {
     position:relative;
  } 
   input[type=checkbox] + label{ background:url(icon_checkbox.png) no-repeat left top; padding-left:30px; height:25px;}
  input[type=checkbox]:checked + label {
    background:url(icon_checkbox.png) no-repeat left -24px;
    font-style: normal;  } 
 
.show_create{
    display:none;
} 
section.content-header.page-title {
    margin-top: 0px !important;
    border-bottom: 3px solid #12186b !important;
    border-top: 3px solid #12186b;
    box-shadow: 0 2px 10px 4px rgb(57 87 105 / 32%);
    padding-top: 16px;
    padding-bottom: 14px;
    background: #f1faff !important;
} 
.skin-blue .wrapper {
    background-color: transparent !important;
    overflow:hidden !important; 
}
.nav-tabs {
    padding: 9px 0px !important;
}
.gif{
    z-index:10;
}
.v-hidden{
    visibility:hidden;
}
.diff{
    border: 5px solid #000000;
    font-weight: bold;
}
section.content-header.page-title{
    padding: 11px 12px 10.5px !important;
    height:auto !important;
}
.mt-10{
    margin-top:10px;
}
.cust_div{
    width:32.7% !important;
}
.cust_title{
    margin: 10px 10px 10px 0px;
    text-align: center;
    background: #fff8d8;
    color: #000;
    padding: 7px 30px;
    width: fit-content;
    border: 1px solid;
}
.border_div{
    border: 1px solid #12186b;
    margin: 10px auto 20px;
    border-radius: 7px;
    box-shadow: 2px 5px 9px #afafaf;
}
.table > tbody > tr > td{
    vertical-align:middle;
}
.col-md-12:nth-child(odd) .customfieldsbox,#tab14primary #customFieldsboccard .customfieldsbox .row.form-group:nth-child(odd){
    background: #e8f7fd;
    border: 1px solid #428bca !important;
}
.col-md-12:nth-child(even) .customfieldsbox,#tab14primary #customFieldsboccard .customfieldsbox .row.form-group:nth-child(even){
    background: #fdf7e8;
    border: 1px solid #428bca !important;
}
.show_resp{
    display:none;
}
.fewr_1{
    width:24%;
}
.fewr_2{
    width:21%;
}
.fewr_3{
    width:25%;
}
.fewr_4{
    width:8%;
}
.fewr_5{
    width:8%;
}
.fewr_6{
    width:auto;
}
.cr_2 {
    width: 16%;
}
.cr_3 {
    width: 26%;
}
.cr_7 {
    width: 12.5%;
}
.cr_10 {
    width: 17.5%;
}
.cr_11 {
    width: 7.5%;
}
.cr_12 {
    width: auto;
}
.table-responsive{
    overflow:hidden !important;
}
.todo_1{
    width:25%;
}
.todo_2,.todo_3,.todo_4,.todo_5,.todo_6,.todo_9{
    width:23%;
}
.todo_7,.todo_8{
    width:14%;
}
#exampleModal .panel.panel-default .panel-heading h4 {
    font-size: 16px!important;
    padding: 5px 5px 3px 5px !important;
    border: 2px solid #269ef3!important;
    background:#ffffff;
    color: #005ed2;
}
#exampleModal1 .panel.panel-default .panel-heading h4 {
    font-size: 16px!important;
    padding: 5px 5px 3px 5px !important;
    border: 2px solid #d07f00!important;
    background:#ffffff;
    color: #d07f00;
}
#exampleModal2 .panel.panel-default .panel-heading h4 {
    font-size: 16px!important;
    padding: 5px 5px 3px 5px !important;
    border: 2px solid #dd4b39!important;
    background:#ffffff;
    color: #dd4b39;
}
.show_991{
    display:none;
}
#cke_editor1{
    border: 2px solid #2fa6f2 !important;
}
.cust_left{
    border-right: 8px solid #bcbcbc;
    padding-bottom:25px;
}
.cust_right{
    padding-right:0px;
}
.b_type1{
    width:31% !important;
}
.b_type2{
    width:46% !important;
}
.b_type3{
    width:18% !important;
}
.b_type4{
    width:13.5% !important;
}
.pi_11{
    width:25% !important;
}
.pi_22{
    width:39% !important;
}
.pi_33{
    width:11% !important;
}
.pi_44{
    width:10% !important;
    /*padding-left: 30px;*/
}
.pi_55{
    width:11% !important;
}
.fed_wh2{
    width:22%;       
}
.fed_wh3{
    width:12.5%;       
}
.fed_wh4{
    width:12%;       
}
.fed_wh5{
    width:13%;       
}
.fed_wh6{
    width:16.5%;       
}
.fed_wh7{
    width:14.5%;       
}
.fed_wh8{
    width:34.5%;       
}
.fed_wh13{
    width:14.5%;       
}
.fed_un3{
    width:26%;
}
.fed_un5,.fed_un8{
    width:14.5%;
}
.fed_un6{
    width:67.5%;
}
.st_wh1{
    width:18%;
}
.st_wh4{
    width:16%;
}
.st_wh5{
    width:17%;
}
.st_wh6{
    width:14.5%;
}
.st_st2{
    width:27%;
}
.st_st3{
    width:21%;
}
.st_st4{
    width:13%;
}
.st_st5{
    width:16.5%;
}
.st_st5{
    width:14%;
}
.show_1200{
    display:none;
}
.payroll_add{
    top:72px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    width: 15px;
    padding: 0px;
    margin: 0px;
    margin-top: 8px;
}
.fscemp_btn{
    margin-top:-40px;
}
/*****Button_CSS*****/
/*=====================================================
=            Bootstrap Media Queries            =
=====================================================*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1380px) {
    .fed_wh1{
        width:10%; 
    }
    .fed_wh2{
        width:26%;       
    }
    .fed_wh3{
        width:14.5%;       
    }
    .fed_wh4{
        width:15%;       
    }
    .fed_wh5{
        width:16%;       
    }
    .fed_wh6{
        width:16.5%;       
    }
    .fed_wh7{
        width:15.5%;       
    }
    .fed_wh7 .form-control{
        margin-bottom:0px !important;
    }
    .fed_wh8{
        width:50%;       
    }
    .fed_wh11{
        width:18.5%;
    }
    .fed_wh13{
        width:17.5%;       
    }
    .fed_un1{
        width:10%;
    }
    .fed_un2{
        width:26%;
    }
    .fed_un3{
        width:26%;
    }
    .fed_un4,.fed_un5,.fed_un7,.fed_un8{
        width:18%;
    }
    .fed_un6{
        width:62%;
    }
    .st_wh1{
        width:28%;
    }
    .st_wh2{
        width:17%;
    }
    .st_wh3{
        width:19%;
    }
    .st_wh4{
        width:18%;
    }
    .st_wh5{
        width:21%;
    }
    .st_wh6{
        width:22%;
    }
    .st_st1{
        width:10%;
    }
    .st_st3{
        width:18.5%;
    }
}
@media only screen and (max-width: 1340px) {
    .st_st1{
        width:12%;
    }
    .st_st2{
        width:31%;
    }
    .st_st4,.st_st5{
        width:19%;
    }
    .st_st7{
        width:20%;
    }
    .st_st8,.st_st9{
        width:18%;
    }
    .st_st10,.st_st11,.st_st12{
        width:26%;
    }
}
@media only screen and (max-width: 1190px) {
    .fed_wh1{
        width:12%; 
    }
    .fed_wh2{
        width:32%;       
    }
    .fed_wh3{
        width:18%;       
    }
    .fed_wh4{
        width:18%;       
    }
    .fed_wh5{
        width:19%;       
    }
    .fed_wh6{
        width:18.5%;       
    }
    .fed_wh7{
        width:18%;       
    }
    .fed_wh7 .form-control{
        margin-bottom:0px !important;
    }
    .fed_wh8{
        width:43.5%;       
    }
    .fed_wh9{
        width:19%;
    }
    .fed_wh10{
        width: 18.5%;
    }
    .fed_wh11{
        width:25.5%;
    }
    .fed_wh13{
        width:22%;       
    }
    .taxation_1,.taxation_2,.taxation_3 {
        width: 50%;
    }
    .taxation_3 .col-lg-6{
        width:66%;
    }   
    .fed_un1{
        width:12%;
    }
    .fed_un2{
        width:32%;
    }
    .fed_un3{
        width:19%;
    }
    .fed_un4{
        width:18.5%;
    }
    .fed_un5{
        width:18%;
    }
    .fed_un7,.fed_un8{
        width:25%;
    }
    .fed_un6{
        width:49%;
    }
    .st_wh1{
        width:26%;
    }
    
}
@media only screen and (max-width: 1050px) {
    .fed_wh1{
        width:19%; 
    }
    .fed_wh2{
        width:36.5%;       
    }
    .fed_wh3{
        width:21%;       
    }
    .fed_wh4{
        width:23%;       
    }
    .fed_wh5{
        width:23.5%;       
    }
    .fed_wh6{
        width:21.5%;       
    }
    .fed_wh7{
        width:20%;       
    }
    .fed_wh7 .form-control{
        margin-bottom:0px !important;
    }
    .fed_wh8{
        width:34.5%;       
    }
    .fed_wh9{
        width:24%;
    }
    .fed_wh10{
        width: 21%;
    }
    .fed_wh11{
        width:27.5%;
    }
    .fed_wh13{
        width:27%;       
    }
    .fed_un1{
        width:19%;
    }
    .fed_un2{
        width:37%;
    }
    .fed_un3{
        width:19%;
    }
    .fed_un4{
        width:25%;
    }
    .fed_un5{
        width:24%;
    }
    .fed_un7,.fed_un8{
        width:25%;
    }
    .fed_un6{
        width:51%;
    }
    .fed_un5 .form-control{
        margin-bottom:0px !important;
    }
    .st_wh1 {
        width: 35%;
    }
    .st_wh5 {
        width: 24%;
    }
    .st_st1{
        width:16%;
    }
    .st_st2{
        width:46%;
    }
    .st_st4,.st_st5{
        width:19%;
    }
    .st_st6,.st_st7{
        width:20%;
    }
    .st_st8,.st_st9{
        width:17%;
    }
    .st_st10,.st_st11,.st_st12{
        width:33%;
    }
}
@media (max-width: 1450px){
    .topbar {
        box-shadow: 3px 3px 5px #191c1f91;
        padding: 16px 20px;
    }
}
@media (min-width: 1336px){
nav .col-md-2.col-xs-12 {
    width: 20% !important;
}

}
@media (max-width: 1400px){
 .fscw_client{
    width:9%;
}
.fscw_type_report{
    width:15%;
}
.fscw_type_taxation{
    width:29%;
}
.fscw_cate_taxation{
    width:15%;
}
.fscw_subcate_taxation{
    width:23.5%;
}
.fscw_year{
    width:8.5%;
}
.fscw_status{
    width:22%;
}
.fscw_filling_status{
    width:13%;
}
.fscw_fed_status{
    width:14%;
}   
.fewr_1{
    width:28%;
}
.fewr_2{
    width:26%;
}
.fewr_3{
    width:30%;
}
.fewr_4{
    width:8%;
}
.fewr_5{
    width:8%;
}
.fewr_6{
    width:auto;
    margin-top:10px !important;
}
.fscc_acc_per{
    width:13%;
}
.fscc_acc_sw{
    width:16%;
}
.fscc_acc_loc{
    width:17%;
}
.fscc_btn{
    width:auto;
}
.fscc_type_ser{
    width:28%;
}
.fscc_type_business{
    width:18%;
}
.fscc_busin_cate{
    width:30%;
}
.fscc_period{
    width:19%;
}
.fscc_year{
    width:9.5%;
}
.fscc_btn button{
    margin-top:10px !important;
}
}
@media (max-width: 1350px){
    .pi_1{
        width:30% !important;
    }
    .pi_2{
        width:50% !important;
    }
    .pi_3{
        width:20% !important;
    }
    .pi_4{
        width:18% !important;
        padding-left: 30px;
    }
    .pi_5{
        width:20% !important;
    }
    .pi_2 textarea{
        height:40px !important;
    }
    .fscc_type_business {
        width: 20%;
    }
    .fscc_type_ser {
        width: 32%;
    }
    .fscc_acc_per {
        width: 15%;
    }
    .fscc_period {
        width: 22%;
    }
    .fscc_btn button{
        margin-top:27px !important;
    }
}
@media (max-width: 1336px){
    nav .col-md-2.col-xs-12 {
        width: 20% !important;
    }
    .images-img {
        width: 79px;
    }
    .pi_11{
        width:30% !important;
    }
    .pi_22{
        width:50% !important;
    }
    .pi_33{
        width:20% !important;
    }
    .pi_44{
        width:21% !important;
        padding-left: 30px;
    }
    .pi_55{
        width:16% !important;
    }
}
@media (max-width: 1300px){
    .work_new_center{
        width: 94%;
    }
 .fscw_client{
    width:13%;
}
.fscw_type_report{
    width:18%;
}
.fscw_type_taxation{
    width:34%;
}
.fscw_cate_taxation{
    width:20%;
}
.fscw_subcate_taxation{
    width:23.5%;
}
.fscw_year{
    width:8.5%;
}
.fscw_status{
    width:24%;
}
.fscw_filling_status{
    width:13%;
}
.fscw_fed_status{
    width:14%;
}   
.fscc_acc_per{
    width:18%;
}
.fscc_acc_sw{
    width:20%;
}
.fscc_acc_loc{
    width:21%;
}
.fscc_btn{
    width:14.6%;
}
.fscc_type_ser{
    width:38.5%;
}
.fscc_type_business{
    width:24%;
}
.fscc_busin_cate{
    width:30%;
}
.fscc_period{
    width:21%;
}
.fscc_year{
    width:9.5%;
}
.fscc_btn button{
    margin-top:28px !important;
}
.wr_12{
    width:auto;
}
.wr_6 {
    width: 25%;
}
.wr_10 {
    width: 14.5%;
}
.fewr_1{
    width:32.5%;
}
.fewr_2{
    width:30%;
}
.fewr_3{
    width:37.5%;
}
.fewr_4{
    width:10%;
}
.fewr_5{
    width:10%;
}
.fewr_6{
    margin-top:27px !important;
}
}
@media only screen and (max-width: 1280px) {
  .box1 h3, .box2 h3, .box3 h3{ font-size:16px !important;margin-left: 5px; }
  .box3 .images-img{ padding:3px 0;  }
  .images-img {
    float: right;
    padding: 9px 10px 0 !important;
    width:80px;
    /*padding: 3px 0px;*/
}
.table-responsive table.table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.topbar {
    padding: 19px 20px;
}
.big-font {
    font-size: 28px;
}
.todo_1 {
    width: 29%;
}
.todo_4, .todo_9 {
    width: 29%;
}
.todo_2,.todo_3,.todo_7, .todo_8{
    width:18%;
}
.todo_5,.todo_6{
    width:23%;
}
.wstate2 {
    width: 48px;
    margin-right: 5px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1250px) {
    .work_new_center{
        width: 100%;
        display: grid !important;
        position: initial !important;
    }
}
@media only screen and (max-width : 1200px) {
    .show_1200{
        display:block;
    }
    .hide_1200{
        display:none;
    }
.cust_left{
    border-right: none;
    padding-bottom:20px;
    border-bottom:1px solid #bcbcbc;
}
.left_1200{
    float:left !important;
    text-align:left !important;
}
.cust_right{
    margin-bottom: 15px !important;
    display: flex;
}
.box1 h2, .box2 h2, .box3 h2 {
    padding:17px 10px;
    font-size: 32px;
}
.images-img{
    width:70px;
}
.big-font {
    font-size: 26px;
}
.big-font {
    /*font-size: 40px;*/
}
.box1 h3, .box2 h3, .box3 h3 {
	font-size: 22px;
}
.navbar .col-md-3.col-xs-12,.navbar .col-md-2.col-xs-12 {
    padding-left: 0px;
}
.show_create{
    display:block;
}
.m-10-1199{
    margin-top:10px;
}
.fscc_btn {
    width: auto;
}
.fscc_type_business {
    width: 25%;
}
.fscc_type_ser {
    width: 42%;
}
.fscc_acc_per {
    width: 19.5%;
}
.fscc_busin_cate {
    width: auto;
}
.fscc_acc_loc {
    width: 20.8%;
}
.fscc_acc_sw {
    width: 21.5%;
}
.wr_2 {
    width: 20%;
}
.wr_3 {
    width: 38%;
}
.wr_4 {
    width: 9%;
}
.wr_6 {
    width: 30%;
}
.wr_7 {
    width: 10%;
}
.wr_8 {
    width: 29%;
}
.wr_9 {
    width: 15%;
}
.wr_10 {
    width: 16%;
}
.wr_11 {
    width: 17%;
}

}
@media only screen and (max-width : 1170px) {
    .new_company_name label,.new_company_name p{
        width:auto;
    }
    .box1 h3,.box2 h3,.box3 h3{
        margin-left:0px !important;
        width:auto;
    }
    #countryList {
        margin: 40px 0px 0px -100px;
    }
    .p-4{
        padding:0px 4px;
    }
    .pr-8{
        padding-right:8px;
    }
    .pl-8{
        padding-left:8px;
    }
    .box1 h2,.box2 h2,.box3 h2{
        font-size:29px !important;
    }
    .nav-tabs > li {
        margin: 2px 0 0 7px;
    }
    a.btn.btn-info.information-btn3 h3 {
        width: unset !important;
    }
    .topbar {
        padding: 19px 13px;
    }
    input#country_name {
        width: 170px !important;
    }
    .searchboxmain a{
        padding: 9px 15px !important;
        margin-left: 5px !important;
    }
}
@media only screen and (max-width : 1130px) {
    .searchboxmain {
        margin-left: 0%;
        width: 30%;
        padding-top: 5px;
        position: relative !important;
        float: right !important;
        margin-top:6px !important;
    }   
    .page-title h1.dash {
        position: absolute;
        top: 40px;
    }
    .todo_1 {
        width: 32%;
    }
    .todo_4, .todo_9 {
        width: 32%;
    }
    .todo_5, .todo_6 {
        width: 25%;
    }
    .fewr_1{
        width:50%;
    }
    .fewr_2{
        width:50%;
    }
    .fewr_3{
        width:50%;
    }
    .fewr_4{
        width:12.5%;
    }
    .fewr_5{
        width:12.5%;
    }
    .fewr_6{
        margin-top:34px !important;
    }
}
@media only screen and (max-width : 1100px) {
.setup_lic_one{width:30%;}  
.setup_lic_two{width:25%;}  
.setup_lic_three{width:24.66%;}  
.setup_lic_four{width:20.3%;}  
.setup_lic_five{width:29.66%;}  
.setup_lic_six{width:70%;}  
.setup_lic_seven,.setup_lic_eight{width:29.66%;margin-top: 0px;}
    .box1 h2,.box2 h2,.box3 h2{
        font-size:24px !important;
    }
    .topbar {
        padding: 18px 10px;
    }
    .big-font {
        font-size: 25px;
    }
    .images-img {
        width: 55px;
    }
    .top_name span{
        margin-right:0px;
    }
    .sidebar2{
        width: 58% !important;
    }
    .box1 h2,.box2 h2,.box3 h2{
        border-right: 3px solid;
    }
    .images-img {
        padding: 9px 6px 0 !important;
    }
}
@media only screen and (max-width : 1024px) {
    .todo_1 {
        width: 36%;
    }
    .todo_4, .todo_9 {
        width: 36%;
    }
    .todo_5, .todo_6 {
        width: 25%;
    }
    .todo_2, .todo_3, .todo_7, .todo_8 {
        width: 27%;
    }
    .images-img {
        width: 47px;
        padding: 9px 1px 0 !important;
    }
    .box1 h3, .box2 h3, .box3 h3 {
        font-size: 15px !important;
    }
    .cr_11 {
        width: 10.5%;
    }
}
@media only screen and (max-width : 991px) {
    .payroll_add {
        top: 5px;
    }
    .btn.btn-success.addmore{
        margin-right:0px !important;
    }
    .fed_wh1,.fed_wh2,.fed_wh3,.fed_wh4,.fed_wh5,.fed_wh6,.fed_wh7,.fed_wh8,.fed_wh9,.fed_wh10,.fed_wh11,.fed_wh12,.fed_wh13{
        width:50%;
        float:left;
    }
    .fed_un1,.fed_un2,.fed_un3,.fed_un4,.fed_un5,.fed_un6,.fed_un7,.fed_un8,.st_wh1,.st_wh2,.st_wh3,.st_wh4,.st_wh5,.st_wh6{
        width:50%;
        float:left;
    }
    .st_st1,.st_st2,.st_st3,.st_st4,.st_st5,.st_st6,.st_st7,.st_st8,.st_st9,.st_st10,.st_st11,.st_st12,.st_st13{
        width:50%;
        float:left;
    }
    .right_991{
        float:right !important;
        text-align:right !important;
    }
    .mt_10_991{
        margin-top:10px;
    }
    .Branch{
        width:100% !important;
    }
.setup_lic_one{width:35%;}  
.setup_lic_two{width:35%;}  
.setup_lic_three{width:30%;}  
.setup_lic_four{width:26.3%;}  
.setup_lic_five{width:29.66%;}  
.setup_lic_six{width:44%;}  
.setup_lic_seven,.setup_lic_eight{width:29.66%;margin-top: 0px;}
    .modal .modal-dialog {
        width: 97% !important;
    }
    a.taxdelete1.btn-action.btn-delete .fa-trash,a.delete1.btn-action.btn-delete .fa-trash{
        float:right !important;
    }
    a.taxdelete1.btn-action.btn-delete,a.delete1.btn-action.btn-delete{
        width:100% !important;
        right:20px !important;
        background:transparent !important;
    }
    .b_type1{
        width:97% !important;
    }
    .b_type2{
        width:97% !important;
        margin-left:0px !important;
    }
    .b_type3{
        width:97% !important;
    }
    .b_type4{
        width:100% !important;
    }
    .new-page-title{
        margin: 9px 0 6px 0 !important;
    }
    .new_images_sec .col-md-4:first-child {
        margin-left: 0px !important;
    }
    .p_cmn_991{
        padding-left:15px !important;
        padding-right:15px !important;
    }
    .add_sec_info{
        float:right;
        margin: 5px 15px 0px 0px;
    }
    .pi_1,.pi_11{
        width:100% !important;
    }
    .pi_2,.pi_22{
        width:100% !important;
        padding: 0px 30px;
    }
    .pi_3,.pi_4,.pi_5,.pi_33,.pi_44,.pi_55{
        width: 33% !important;
        float: left;
    }
    .todo_1,.todo_2, .todo_3,.todo_4,.todo_5,.todo_6, .todo_7, .todo_8,.todo_9 {
        width:50%;
        float:left;
    }
    .fscw_client {
        width: 17%;
    }
    .fscc_type_ser {
        width: 51%;
    }
    .fscc_type_business {
        width: 31%;
    }
    .fscc_acc_per {
        width: 25%;
    }
    .fscc_period {
        width: auto;
    }
    .cust_right{
        padding:0px;
    }
    .p_991{
        padding-left:15px !important;
        padding-right:15px !important;
    }
    .mt10_991{
        margin-top:10px !important;
    }
    .show_create,.hide_991{
        display:none;
    }
    .show_991{
        display:block;
    }
    .left_991{
        text-align:left !important;
    }
.newprospects label.control-label{
    text-align:left !important;
}
.form-control,.form-control-insu {
    margin-top:5px;
}
div#sampleTable345_length, div#sampleTable345_info {
        width: 49%;
    }
    div#sampleTable345_paginate{
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }
.no_resp{
    display:none;
}
#countryList {
    margin: 40px 0px 0px 0px !important;
}
label.control-label.col-md-3.text-right,.modal label.control-label.col-md-4 {
    text-align: left !important;
    padding-left:15px !important;
    width:auto !important;
}
.modal .col-md-4.col-sm-4 .form-group div div.col-md-8{
    width:100% !important;
    padding-right:0px;
}
.modal .row .form-group.col-md-5 .row .col-md-7{
    padding-right:15px !important;
}
.prr-auto{
    padding-right:15px !important;
    padding-left: 0px !important;
}
.one_line{
    display:flex;
}    
.one_line .col-md-1{
    width: 150px;
    margin-top: 7px !important;
}
.one_line .col-md-6{
    width: 100%;
}
.p-4{
    padding-left:15px;
    padding-right:15px;
}
.pl-8{
    padding-left:15px;
}
.page-title h1.dash {
    position: initial;
    text-align:center !important;
    border:none;
    margin-top: 2px !important;
}

section.content-header.page-title.dash_title{
    height:150px !important;
}
.pr-8{
    padding-right:15px;
}
.resp_abs{
    position:relative;
}
.images-img {
    width: 57px;
    padding: 9px 5px 0 !important;
}
div#sampleTable3_paginate, div#example_paginate, div#sampleTable2_paginate, div#sampleTable1_paginate {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}
div#sampleTable3_length, div#example_length, div#sampleTable3_info, div#example_info, div#sampleTable1_info, div#sampleTable1_length, div#sampleTable2_info, div#sampleTable2_length {
    width: 49%;
}
.cs1,.cs2{
    width:50%;
    float:left;
}
.cs3{
    width: 47.5%;
    margin-left: 0px;
    float:left;
}
.add_btn_resp{
    /*margin-top:40px;*/
    top: 5px !important;
}
.add_btn_resp .table-title a{
    margin-right:0px !important;
}
.search-btn {
    top: 13px !important;
    right: -9px !important;
    /*right: 20px !important;*/
}
.table-title a{
    margin-top: -34px !important;
    margin-right: 10px !important;
}
input#country_name {
    width: 100% !important;
}
.content-header.page-title a{
    margin-top: 0px !important;
    height: 40px !important;
}
.topbar {
    padding: 17px 10px;
}
.navbar .col-md-5 {
    display: inline-block;
    width: 93%;
}
.top_company.top-company-name-bg {
    margin: 8px 0 4px !important;
}
.cust_div{
    width:100% !important;
}
.content-header.page-title .searchboxmain a {
    margin-top: 5px !important;
}
.topbar{
    width:100%;
    text-align:center;
    margin: 13px 0 0px 0px !important;
}
section.content-header.page-title {
    margin-top: 90px !important;
}
.top_name {
    margin-top: 30px;
}
.searchboxmain {
    margin-left: 0%;
    width: 100%;
    padding-top: 5px;
    position: relative !important;
    float: none !important;
}
section.content-header.page-title h1 {
    display: block;
    text-align: right;
    width: 47%;
    margin-left: auto;
    margin-top:7px;
}
.content-header.page-title a {
    margin-top: 0px !important;
}
.navbar .col-md-3.col-xs-12 {
    display: inline-block;
    width: 50%;
    margin-left: 10px;
}
.navbar .col-md-2.col-xs-12 {
    display: inline-block;
    float: none;
    width: 40% !important;
}
.subtitle_cr{
    margin-top:50px !important;
}
.wr_1{
    width: 15%;
}
.wr_2 {
    width: 25%;
}
.wr_3 {
    width: 48%;
}
.wr_4 {
    width: 11%;
}
.wr_5 {
    width: 23%;
}
.wr_6 {
    width: 34%;
}
.wr_7 {
    width: 11%;
}
.wr_8 {
    width: 31%;
}
.wr_9 {
    width: 19%;
}
.wr_10 {
    width: 20%;
}
.wr_11 {
    width: 20%;
}
}
@media only screen and (max-width: 900px){
    .cr_1,.cr_2,.cr_4,.cr_5,.cr_6,.cr_7,.cr_8,.cr_9,.cr_10,.cr_11,.cr_12 {
        width: 50%;
    }
    .cr_3,.wr_3{
        width:100%;
    }
    .wr_1,.wr_2,.wr_4,.wr_5,.wr_6,.wr_7,.wr_8,.wr_9,.wr_10,.wr_11,.wr_12{
        width:50%;
    }
    .fscemp_btn{
        margin:10px 0px;
        float:right;
    }
    .fewr_1,.fewr_2,.fewr_3{
        width:100%;
    }
    .fewr_4{
        width:20%;
    }
    .fewr_5{
        width:20%;
    }
    .fewr_6{
        margin-top:34px !important;
    }
}
@media only screen and (max-width: 600px){
    .fed_wh1,.fed_wh2,.fed_wh3,.fed_wh4,.fed_wh5,.fed_wh6,.fed_wh7,.fed_wh8,.fed_wh9,.fed_wh10,.fed_wh11,.fed_wh12,.fed_wh13{
        width:100%;
    }
    .fed_un1,.fed_un2,.fed_un3,.fed_un4,.fed_un5,.fed_un6,.fed_un7,.fed_un8,.st_wh1,.st_wh2,.st_wh3,.st_wh4,.st_wh5,.st_wh6,.wr_6{
        width:100%;
    }
    .professional_profession,.professional_state,.professional_effective,.professional_license,.professional_expire,.professional_profession.professional_note{
        width:98%;
    }
    .st_st1,.st_st2,.st_st3,.st_st4,.st_st5,.st_st6,.st_st7,.st_st8,.st_st9,.st_st12,.st_st13,.cr_1,.cr_2,.cr_4,.cr_5,.cr_6,.cr_7,.cr_8,.cr_9,.cr_10{
        width:100%;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 900px) {
    .navbar .col-md-5 {
        width: 92%;
    }
    .modal .modal-dialog{
        width:100% !important;
    }
    .modal.fade.in {
        width: 95%;
        margin: auto;
    }
    #myModalcustomershseet .modal-body ,#myModalnotes .modal-body {
        padding: 5px 35px;
    }
}
@media only screen and (max-width : 870px) {
    .content-header.page-title a.dash_a{
        margin: 0px 2px !important;
    }
}
@media only screen and (max-width : 830px) {
 .topbar img {
    max-width: 430px !important;
}   
.topbar {
    padding: 21px 10px;
}
}
@media only screen and (max-width : 817px) {
    .navbar .col-md-5 {
        width: 91%;
    }
    .navbar .col-md-2.col-xs-12 {
        width: 39% !important;
    }
    .table-responsive {
        overflow: hidden;
    }
}
@media only screen and (max-width : 768px) {
    section.content-header.page-title.dash_title {
        height: 197px !important;
    }
}
@media only screen and (max-width : 767px) {
    div.dataTables_wrapper div.dataTables_length{
        text-align:left;
    }
    .p_cmn_767{
        padding-left:15px !important;
        padding-right:15px !important;
    }
    .add_htd_btn{
        width:auto;
        float:left;
        margin-top:10px;
    }
    .setup_lic_seven,.setup_lic_eight{width:26.3%;}
    .new_company_name label, .new_company_name p {
        width: 100% !important;
        text-align: center !important;
    }
    .setup_label .new_company_name label, .new_company_name p {
        width: auto !important;
        text-align: center !important;
    }
    .fewr_6{
        margin-top:27px !important;
    }
    .fewr_4,.fewr_5{
        width:26.5%;
    }
    .new_images_sec {
        margin: 25px 0 9px 0 !important;
    }
    .mt_resp_go{
        margin-top:7px;
    }
    section.content-header.page-title.dash_title {
        height: 153px !important;
    }
    .skin-blue .main-header .navbar .dropdown-menu li a {
        color: #333;
    }
    .control-label {
        margin-bottom: 0px !important;
    }
    .container-fluid.show1{
        padding:0px;
    }
    .prr-auto{
        padding-right:0px !important;
    }
    .modal .col-md-4.col-sm-4 .form-group div div.col-md-8,.modal .col-md-4.col-sm-4 .form-group div label.col-md-3{
        padding-left:0px;
    }
    .modal.in .modal-dialog{
        width:95% !important;
        margin-left: auto;
        margin-right: auto;
    }
    .table-responsive>.table-bordered>tbody>tr>td, .table-responsive>.table-bordered>tbody>tr>th{
        border:1px solid !important;
    }
    .show_resp{
        display:block;
    }
    .foot_logo_resp{
        position: absolute;
        width: 50%;
        right: 0;
    }
    footer p {
        margin-top: 10px;
    }
    footer p strong{
        line-height: 1.7;
    }
    .foot_copy_resp{
        /*width:63%;*/
    }
    footer{
        height: auto;
    }
    footer p {
        text-align: left;
        font-size: 15px;
    }
    footer p a {
        padding: 4px 9px;
        font-size: 16px;
    }
    .cs3 {
        /*width: 37%;*/
        /*margin-left: 34px;*/
    }
    .table-title a {
        margin-right: 30px !important;
    }
    .table-responsive{
        border:none;
    }
.images-img {
    float: right;
    padding: 14px 3px;
}
    .main-sidebar { top:9.3% !important; padding-top:0 !important; z-index: 9999 !important; }

.logo .img-responsive{
    margin:auto;
}
.navbar {
    position: initial;
}
a.logo{
    width: 29% !important;
    float: left !important;
    margin-left: 60px;
}
.navbar .col-md-5 {
    width: 62%;
}
.topbar img {
    max-width: 100% !important;
}
.topbar {
    padding: 25px 10px;
    margin: 7px 0 0px 0px !important;
}
.big-font {
    font-size: 40px;
}
.box1 h2 {
    padding: 25px;
}
.box2 h2 {
    padding: 25px;
}
.box3 h2 {
    padding: 25px;
}
.box h3 {
    font-size: 18px;
}
.box2 h3 {
    font-size: 18px;
}
.box3 h3 {
    font-size: 18px;
}
}
@media only screen and (max-width : 700px) {
    section.content-header.page-title {
        margin-top: 12.5% !important;
    }
}

@media only screen and (max-width : 666px) {
    .navbar .col-md-5 {
        width: 61%;
    }
    .cs3 {
        /*width: 38%;*/
        /*margin-left: 31px;*/
    }
    .table-title a {
        margin-right: 15px !important;
    }
    span.right_title {
        display: block;
        position: relative !important;
        margin-top: 5px;
        padding-right: 0px !important;
    }
    section.content-header.page-title {
        margin-top: 12% !important;
    }
    .topbar {
        padding: 23px 10px;
    }
    .main-sidebar {
        top: 9% !important;
    }
    .col-md-12{
        /*padding-right:11px;*/
        /*padding-left:11px;*/
    }
    .content-header.page-title h2{
        text-align:right;
    }
}
@media only screen and (max-width : 601px) {
    .setup_lic_one,.setup_lic_two,.setup_lic_three,.setup_lic_four,.setup_lic_five,.setup_lic_six{width:100%;}
    .setup_lic_seven, .setup_lic_eight{width:50%;}
    section.content-header.page-title.dash_title {
        height: 188px !important;
    }
    .content-header.page-title a.dash_a {
        margin: 0px 6px !important;
    }
    .todo_1,.todo_2, .todo_3,.todo_4,.todo_5,.todo_6, .todo_7, .todo_8,.todo_9 {
        width:100%;
        margin-top: 10px;
    }
}
@media only screen and (max-width : 599px) {
    #mytask1 .modal-footer .col-md-12{
        text-align:left !important;
    }
    .foot_logo_resp {
        position: initial;
        width: 100%;
    }
    img.img-responsive.pull-right.footer-logo-admin {
        float: initial !important;
        margin: auto;
    }
    footer p {
        text-align: center;
        margin-bottom:0px;
    }
    .navbar .col-md-5 {
        width: 60%;
    }
    #countryList li a span.bgcolors {
        font-size: 18px !important;
        width: 58 !importantpx;
    }
    .topbar {
        padding: 21px 10px;
    }
    .main-sidebar {
        top: 8.6% !important;
    }
    .table-title a {
        margin-right: 5px !important;
    }
    .one_line .col-md-1 {
        width: 160px;
    }
}

@media only screen and (max-width : 545px) {
    .work_report.eework_report .reporttext ul {
        display: block !important;
    }
    .eework_report .reporttext ul li {
        width: 97% !important;
        float: left !important;
        margin-right: 0px !important;
    }
    .hide_545{
        display:none;
    }
    .work_report.eework_report .reporttext {
        height: 105px !important;
    }
    .table_fer.table_cr #sampleTable345_filter label {
        width: 82% !important;
    }
    .work_report .table_fer .dt-buttons {
        margin-top: 100px !important;
        position: absolute !important;
        right: 15px !important;
    }
    .work_report .table_cr.table_fer #sampleTable345_filter {
        margin-top: 115px !important;
    }
    .navbar .col-md-3.col-xs-12 {
        width: 46%;
    }
    .pi_3,.pi_4,.pi_5{
        width: 100% !important;
    }
    .main-sidebar {
        top: 8.4% !important;
    }
    .top_company.top-company-name-bg p {
        font-size: 15px !important;
    }
    .topbar {
        padding: 22px 3px;
    }
    .navbar .col-md-5 {
        width: 57%;
        padding-left: 6px;
        padding-right: 6px;
    }
    .skin-blue .main-header .navbar .sidebar-toggle {
        margin-top: 10px !important;
        font-size: 15px !important;
        padding: 9px 11px !important;
    }
    .main-header .logo .logo-lg {
        width: 100%;
        margin: 3px auto !important;
    }
    .top_company.top-company-name-bg .top_date, .top_time, .top_day {
        padding: 2px 0 !important;
    }
    a.logo {
        margin-left: 50px;
    }
    section.content-header.page-title {
        margin-top: 12.5% !important;
    }
    .table-title a {
        margin-right: 0px !important;
    }
    .content-header.page-title h2 {
        font-size: 20px!important;
    }
    section.content-header.page-title div {
        text-align: right !important;
    }
}
@media only screen and (max-width : 1024px) {
.box3 h3 {margin-left: 0px;}
}

@media only screen and (max-width : 500px) {
    section.content-header.page-title h1.dash {
        float: left;
        margin-top: 8px;
        width: 100% !important;
        text-align:center;
    }
    .add_nmail{
        width: 100%;
        display: block;
        margin-top: 15px;
    }
    .table-title a {
        margin-top: 10px !important;
    }
    .Branch h1 {
        font-size: 18px;
    }
    section.content-header.page-title h1 {
        margin-top: 8px;
        width: 100% !important;
        text-align:center;
    }
    .content-header.page-title a {
        margin-left: 55px;
    }
    .main-sidebar {
        top: 8.4% !important;
    }
    .cs1, .cs2 {
        width: 100% !important;
        padding: 0px 15px;
    }
    .cs1 label{
        margin-left: 0% !important;
    }
    .cs1 select,.cs2 select{
        width: 100% !important;
    }
    .cs3 {
        width: 95%;
        /*margin-left: 15px;*/
    }
    .search-btn {
        /*right: 28px !important;*/
    }
    span.first.paginate_button,span.previous.paginate_button,span.next.paginate_button,span.last.paginate_button {
        padding: 6px 8px;
        font-size: 13px;
    }
    h3 {
        font-size: 17px !important;
    }
    .sidebar2 {
        width: 55% !important;
    }
    .table_cr #example_filter label,.table_cr #sampleTable345_filter label{
        width:82% !important;
    }
    .work_report .reporttext ul{
        display:block !important;
    }
    .hide_500{
        display:none;
    }
    .work_report .reporttext ul li{
        width: 47%;
        float: left;
        margin-right: 0px;
    }
    .work_report .reporttext{
        height:85px !important;
    }
    .work_report .dt-buttons {
        margin-top: 100px !important;
        position: absolute !important;
        right: 15px !important;
    }
    .work_report .table_cr #sampleTable345_filter {
        margin-top: 115px !important;
    }
    .work_report .subtitle_cr {
        margin-top: 35px !important;
    }
    
}
@media only screen and (max-width : 450px) {
    .wstate1,.wcontrol1 {
        width: 90px;
    }
    .wstate2,.wcontrol2 {
        width: 200px;
    }
    .topbar {
        padding: 17px 3px;
    }
    .content-header.page-title a {
        margin-left: 35px;
    }
    .main-sidebar {
        top: 7.75% !important;
    }
    section.content-header.page-title {
        margin-top: 11% !important;
    }
    .box1 h3, .box2 h3, .box3 h3 {
        font-size: 18px !important;
    }
    div#sampleTable3_length, div#example_length, div#sampleTable3_info, div#example_info, div#sampleTable1_info, div#sampleTable1_length, div#sampleTable2_info, div#sampleTable2_length {
        width: 100%;
    }
    .dataTables_length label{
        width: 90%;
        float: right;
        text-align: right !important;
    }
    .dataTables_length select{
        width:80px !important;
    }
    span.first.paginate_button,span.previous.paginate_button,span.next.paginate_button,span.last.paginate_button {
        padding: 6px;
        font-size: 12px;
    }
    .one_line .col-md-1 {
        width: 177px;
    }
    .work_report .reporttext ul li {
        width: auto;
        float: left;
        margin-right: 9px;
    }
    
}
@media only screen and (max-width : 420px) {
    .newprospects .col-md-1.col-sm-2.col-xs-3,.newprospects .col-md-2.col-sm-6.col-xs-7,.newprospects .col-lg-1.col-md-2.col-sm-2.col-xs-3{
        padding-right:0px ;
    }
    .topbar {
        padding: 15px 3px;
    }
    .navbar .col-md-3.col-xs-12 {
        width: 45%;
    }
    .content-header.page-title a {
        margin-left: 9px;
    }
    .main-sidebar {
        top: 7.55% !important;
    }
    #exampleModal .panel.panel-default .panel-heading h4,#exampleModal1 .panel.panel-default .panel-heading h4,#exampleModal2 .panel.panel-default .panel-heading h4 {
        font-size: 14px!important;
    }
    .modal .count_acc{
        width:75px !important;
    }
}
@media only screen and (max-width : 385px) {
    .content-header.page-title a {
        margin-left: 0px;
    }
    .content-header.page-title a {
        margin-left: 5px !important;
    }
    .main-sidebar {
        top: 7.45% !important;
    }
}
@media only screen and (max-width : 372px) {
    .content-header.page-title a {
        margin-left: 3px !important;
    }
    .top_company.top-company-name-bg p {
        font-size: 14px !important;
    }
    .topbar {
        padding: 13px 3px;
    }
    .top_date i, .top_time i, .top_day i {
        margin-right: 7px;
    }
    section.content-header.page-title {
        margin-top: 10% !important;
    }
    footer p {
        font-size: 14px;
    }
    .navbar .col-md-2.col-xs-12 {
        width: 38.9% !important;
    }
    .main-sidebar {
        top: 155px !important;
    }
    .content-header.page-title a {
        margin-left: 2px !important;
    }
}

.table-hover>tbody>tr:hover{background:#e0e0e0!important;}
.langcheckbox label{float:none!important;}