@charset "utf-8";
* { margin:0px auto; padding:0px; border:0; font-size:100%; font:inherit; vertical-align:baseline; }

.libre { font-family:'Proza + Libre', sans-serif !important; font-size :1.6rem !important}

/**********Start_Menu**********/
.fsc-menu, .submenu { list-style:none; padding:0; margin:0; }
.submenu { }
.alert { font-size:15px; }
.fsc-menu a { display:block; text-decoration:none; }
.submenu li { margin:0; }
.fsc-menu a:hover { color:#103b68; }
.fsc-menu-link { padding:0; }
.fsc-menu li:hover .submenu { display:block; max-height:288px; }
.submenu { overflow:hidden; max-height:0; -webkit-transition:all 0.5s ease-out; padding-left:15px; }
.fixed { position:fixed; }
.btn-primary,.btn-default,.fsc-apply-btn {
    color: #fff;
    background-color: #103b68;
    border: 1px solid #06223f;
}
input[type="file"] {
    display: block;
    padding: 0px;
}
.fsc-input{font-style: normal;}
.form-group {
    margin-bottom: 0;
}.form-group {
    margin-bottom: 0;
}
.logo-l-section {
    display: inline-block;
    float: left;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

.dateing {
padding:15px;
}

.btn-primary:hover,.btn-default:hover{background-color: #0a2e54;cursor: pointer; color: #fff;}
.form-control:focus {

    background-color: #fffedd !important;
   
}.btn-lg, .btn-group-lg > .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 2rem;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
    font-size: 12px;
}
.back-gray{    margin-top: 27px;
  
    background-color: #f5f5f5;
    width: 100%;
    padding: 23px;}
.has-feedback .form-control {
    padding-right: 0;
}


.services-tab{ display:none}
a:focus, a:hover {
    color: #014c8c;
    text-decoration: none;
}
.star-required{color:red}


/**********End_Menu**********/

/**********Start_Home**********/
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin: auto;
    width: 100%;
}
.carousel-control.left { background-image:none; color:#444; }
.carousel-control.right { background-image:none; color:#444; }
.banner-1-text1 { font-family:'Proza Libre', serif; background-color:#103b68; color:#fff; border-radius:50px; font-weight:400; font-size:1.7em; letter-spacing:1px; padding:2%; }
.banner-1-text2 { font-family:'Proza Libre', serif; background-color:#103b68; color:#fff; border-radius:50px; font-weight:400; font-size:1.7em; letter-spacing:1px; width:70%; padding:2%; }
.banner-2-text1 { font-family:'Proza Libre', serif; background-color:#40352f; color:#fff; border-radius:50px; font-weight:400; font-size:1.7em; letter-spacing:1px; width:80%; padding:2%; }
.banner-2-text2 { font-family:'Proza Libre', serif; background-color:#40352f; color:#fff; border-radius:50px; font-weight:400; font-size:1.7em; letter-spacing:1px; width:80%; padding:2%; }
.banner-2-text3 { font-family:'Proza Libre', serif; background-color:#40352f; color:#fff; border-radius:50px; font-weight:400; font-size:1.7em; letter-spacing:1px; width:30%; padding:2%; }
.banner-3-text1 { font-family:'Proza Libre', serif; background-color:#103b68; color:#fff; border-radius:50px; font-weight:400; font-size:1.7em; letter-spacing:1px; width:80%; padding:2%; }
.banner-3-text2 { font-family:'Proza Libre', serif; background-color:#103b68; color:#fff; border-radius:50px; font-weight:400; font-size:1.7em; letter-spacing:1px; width:60%; padding:2%; }

.fsc-logo-div { text-align:center; background-color:#fff; }
.fsc-logo-div-img { }
.img-hover, .fsc-menu-link:hover .img-normal { display:none; padding:0; margin:0; }
.img-normal, .fsc-menu-link:hover .img-hover { display:block; padding:0; margin:0; }
.img-normal { max-width:100% !important; }
.img-hover { max-width:100% !important; }
.fsc-home-text-head { font-family:'Proza Libre', serif; font-size:2.4em; letter-spacing:1px; font-weight:400; line-height:2.0; text-align:center; color:#103b68; }
.fsc-img { display:block; }
.fsc-sect-head { font-family:'Proza Libre', serif; font-size:2.5em; letter-spacing:1px; font-weight:400; text-align:center; color:#103b68; }
.fsc-home-text { font-family:'Proza Libre', serif; font-size:1.8em; letter-spacing:1px; font-weight:400; line-height:2.0; }
.fsc-home-wedo-head { font-family:'Proza Libre', serif; font-size:2em; letter-spacing:1px; font-weight:300; text-align:center; color:#fff; }
.fsc-home-wedo-head:hover { text-decoration:none; color:white; }
.fsc-home-wedo-head:active { text-decoration:none; color:white; }
.fsc-home-wedo-head:visited { text-decoration:none; color:white; }
.fsc-well { min-height:20px; padding:15px; margin-bottom:20px; background-color:#103b68; border:1px solid #06223f; border-radius:30px; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05); box-shadow:inset 0 1px 1px rgba(0,0,0,.05); text-align:center; }
.fsc-well:hover { background-color:#0a2e54; cursor:pointer; }
.fsc-icon-text { font-family:'Proza Libre', serif; font-size:2em; color:#103b68; }
.fsc-home-footer-text {     font-family: 'Proza Libre', serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    color: #010101;}
.rig-dir { width:75%; }
.acc-ser-width { width:75%; }
.fin-ser-width { width:50%; }
.fsc-content-head { background-color:#103B68; text-align:center; padding:1%; box-shadow:0 4px 10px rgba(0,0,0,0.3); border-radius:10px; }
.fsc-content-head h4 { color:white; font-family:'Proza Libre', serif; font-size:2.3em; padding: 8px 0}
.fsc-section-head { text-align:center; margin-top:4%; padding:0; }
.fsc-section-head h4 {
    cursor: pointer;
    color: white;
    font-family: 'Proza Libre', serif;
    font-size: 2em;
    background-color: #428bca;
    padding: 1.6%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    padding: 25px;
}

.fsc-bullet-ul li { display:block; margin-top:3%; }
.fsc-bullet-ul li:before { content:"\e013"; font-family:'Glyphicons Halflings'; font-size:14px; float:left; margin-left:-23px; color:#428bca; }
.fsc-bullet-ul { margin-bottom:8%; }
.fsc-apply-btn {background-color: #103b68;border: 1px solid #06223f;border-radius:20px; color:#fff; padding:1.5% 5%; text-decoration:none; font-family:'Proza Libre', serif; font-size:1.7em; }
.fsc-apply-btn:hover { text-decoration:none; background-color:#0a2e54; color:white; outline:none; }
.fsc-apply-btn:active { text-decoration:none; outline:none; }
.fsc-apply-btn:visited { text-decoration:none; }
.fsc-content-box { background-color:#fcfdff; padding:2% 0;margin-bottom: 20px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; border:2px solid #428bca; }
.fsc-col-list { margin-top:3px; margin-left:1%;float: left; width: 100%; margin-bottom: 30px; }
.fsc-com-last-li { margin-top:14%; }
.fsc-bullet-inside-ul li:nth-child(1) { margin-top: 15px;}
.fsc-bullet-inside-ul li:last-child { margin-bottom: 0;}
.fsc-pillar-div { }
.fsc-well-footer {
    min-height: 20px;
    padding: 0px 0px;
    margin-top: 1%;
    background-color: #e4e1e1;
    color: #444;
    text-align: center;
    width: 100%;
    border-top: 10px solid #003e66;
}
.form-control{
    border: 2px solid rgb(66, 139, 202);}
.grid { position:relative; clear:both; margin:0 auto; padding:1em 0 4em; max-width:1000px; list-style:none; text-align:center; } 
.grid figure { position:relative; float:left; overflow:hidden; margin:10px 1%; max-width:480px; max-height:360px; height:auto; background:#103b68; text-align:center; cursor:pointer; }
.grid figure img { position:relative; display:block; min-height:100%; max-width:100%; opacity:0.8; }
.grid figure figcaption { padding:2em; color:#fff; text-transform:uppercase; font-size:1.25em; -webkit-backface-visibility:hidden; backface-visibility:hidden; }
.grid figure figcaption::before, .grid figure figcaption::after { pointer-events:none; }
.grid figure figcaption, .grid figure figcaption > a { position:absolute; top:0; left:0; width:100%; height:100%; }
.grid figure figcaption > a { z-index:1000; text-indent:200%; white-space:nowrap; font-size:0; opacity:0; }
.grid figure h2 { word-spacing:-0.15em; font-weight:300; }
.grid figure h2 span { font-weight:800; }
.grid figure h2, .grid figure p { margin:0; }
.grid figure p { letter-spacing:1px; font-size:68.5%; }

figure.effect-ming { background:#103b68; }
figure.effect-ming img { opacity:0.9; -webkit-transition:opacity 0.35s; transition:opacity 0.35s; }
figure.effect-ming figcaption::before { position:absolute; top:30px; right:30px; bottom:30px; left:30px; border:2px solid #fff; box-shadow:0 0 0 30px rgba(255,255,255,0.2); content:''; opacity:0; -webkit-transition:opacity 0.35s, -webkit-transform 0.35s; transition:opacity 0.35s, transform 0.35s; -webkit-transform:scale3d(1.4,1.4,1); transform:scale3d(1.4,1.4,1); }
figure.effect-ming h2 { margin:20% 0 10px 0; -webkit-transition:-webkit-transform 0.35s; transition:transform 0.35s; }
figure.effect-ming p { padding:1em; opacity:0; -webkit-transition:opacity 0.35s, -webkit-transform 0.35s; transition:opacity 0.35s, transform 0.35s; -webkit-transform:scale(1.5); transform:scale(1.5); }
figure.effect-ming:hover h2 { -webkit-transform:scale(0.9); transform:scale(0.9); }
figure.effect-ming:hover figcaption::before, figure.effect-ming:hover p { opacity:1; -webkit-transform:scale3d(1,1,1); transform:scale3d(1,1,1); }
figure.effect-ming:hover figcaption { background-color:rgba(58,52,42,0); }
figure.effect-ming:hover img { opacity:0.4; }
/**********End_Home**********/


#logout-form1 button{ width:100%}
#logout-form1 button img{ width:100%}
/**********Start_Services**********/

.fsc-label li:before { content:"\e013a"; font-family:'Glyphicons Halflings'; font-size:14px; float:left; margin-left:-17px; color:#428bca; }
.fsc-label { font-size:1.5em; font-family:'Proza Libre', serif; }
.fsc-description { list-style:none; font-size:1.5em; font-family:'Proza Libre', serif; }
.fsc-job-apply-btn { background-color:#103b68; border: 1px solid #06223f;border-radius:20px; color:#fff; padding:1% 3%; text-decoration:none; font-family:'Proza Libre', serif;
font-size:1.7em; margin-top:3%; }
.fsc-job-apply-btn:hover { text-decoration:none;color: #fff;background-color: #204d74; border-color: #122b40;; color:white; outline:none; }
#sidbarStickly { position:-webkit-sticky; position:sticky; top:0; }
.fsc-logo-service-div { border:1px solid #f5f5f5; text-align:center; background-color:#f5f5f5; } 
.fsc-logo-service-div-img { padding:0; }
.fsc-com-bullet-ul { margin-bottom:0%; }
.fsc-com-bullet-ul li { display:block; margin-bottom:20px; float: left; width: 100%; }
.fsc-com-bullet-ul li:before { /*content:"\e013";*/ content:"\e041"; font-family:'Glyphicons Halflings'; font-size:14px; float:left; margin-left:-22px; color:#428bca; }
.fsc-bullet-inside-ul div li { display:block; margin-top:3%; }
.fsc-bullet-inside-ul li:before { content:"\002a"; font-family:'Glyphicons Halflings'; font-size:14px; float:left; margin-left:-17px; color:#428bca; }
.fsc-bullet-inside-ul { }
.fsc-com-last-li { margin-top:0%; }
.fsc-form-row { text-align:right; }
.fsc-form-label { font-family:'Proza Libre', serif; font-size:1.4em; margin-top:4%; }
.fsc-input { font-family:'Proza Libre', serif; font-size:1.4em; margin-top:1%; }
.fsc-input:active { outline:none; } 
.fsc-input:focus { outline:none; }
.fsc-input:visited { outline:none; }
.fsc-form-submit {
    width: auto !important; 
    font-family: 'Proza Libre', serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1.7em;
    float: right;
    padding: 7px 32px;
}
.fsc-form-col { margin-top:0.2%; }

/**********End_Services**********/

/**********Start_What_We_Do**********/
.fsc-logo-div-other { background-color:#f5f5f5; padding:8%; }
.fsc-wwd-right-div { background:url('../images/world-map.jpg'); -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; -webkit-animation:100s scroll infinite linear; -moz-animation:100s scroll infinite linear;
-o-animation:100s scroll infinite linear; -ms-animation:100s scroll infinite linear; animation:100s scroll infinite linear; }
.fsc-menu-wwd-div { background-color:#fff; }
.fsc-logo-div-other { border:1px solid #f5f5f5; text-align:center; background-color:#f5f5f5; }
.fsc-logo-div-other-img { padding:0; }

.active a.fsc-menu-link img.img-normal { display:none; }
.active a.fsc-menu-link img.img-hover { display:block; }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover { background:none; }
/**********End_What_We_Do**********/

/**********Start_Submission**********/
.fsc-sub-img { text-align:center; }
.fsc-sub-imgs { text-align:left;    margin-bottom: 17px;}
/**********End_Submission**********/

.nav-tabs { border-bottom:none; }

/**********Start_Contact_Us**********/
.fsc-map-ul li { display:block; margin-top:4%; }
.fsc-map-ul li:before { content:"\e062"; font-family:'Glyphicons Halflings'; font-size:14px; float:left; margin-left:-17px; margin-bottom:2%; color:#428bca; }
.fsc-phone-ul li { display:block; margin-top:4%; }
.fsc-phone-ul li:before { content:"\e145"; font-family:'Glyphicons Halflings'; font-size:14px; float:left; margin-left:-17px; color:#428bca; }
.fsc-fax-ul li { display:block; margin-top:4%; }
.fsc-fax-ul li:before { content:"\e045"; font-family:'Glyphicons Halflings'; font-size:14px; float:left; margin-left:-17px; color:#428bca; }
.fsc-mail-ul li { display:block; margin-top:4%; }
.fsc-mail-ul li:before { content:"\2709"; font-family:'Glyphicons Halflings'; font-size:14px; float:left; margin-left:-17px; color:#428bca; }
.fsc-contact-text { font-family:'Proza Libre', serif; font-size:1.4em;line-height: 27px;}
/**********End_Contact_Us**********/


/**********Start_Login_Register**********/
.fsc-hover-div { background-color:#f1f1f1; border:1px solid #e5e5e5; border-radius:6px; text-align:center; transition:0.5s background-color; }
.fsc-hover-div:hover { background-color:white; border:1px solid #fff; transition:0.5s background-color; cursor:pointer; }
.fsc-blue-text { color:#103b68; font-family:'Proza Libre', serif; font-size:1.8em; }
.fsc-reg-business-category-div { margin-top:0%; text-align:center; } 
.fsc-reg-business-category-img { margin-top:2%; }
.fsc-reg-business-category-2-img { margin-top:10%;}
.fsc-reg-sub-header-div { background-color:#d1d1d1; padding:0.5% 0%; color:#555; margin-top:3%; border-radius:5px; }
.fsc-reg-sub-header { padding-left:20px; }
.fsc-hide-div { display:none; }

.services-tab a span .st_title{
    margin: 4px auto 30px;
    display: block;
    width: 310px;
    max-width: 100%;
    font-size: 16px;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #005078;
    height: 50px;
    border: 2px solid #005078;
    border-radius: 40px;
    padding: 12px 0px;
    text-align: center;
}
.services-tab button {background: transparent;height: auto;width: 100%;margin: auto;}
.services-tab button span .st_title{
    margin:5px auto;
    display: block;    
    max-width: 100%;
    font-size: 14px;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #005078;
    border: 2px solid #005078;  
    border-radius: 40px;
    padding: 10px 0px;
    text-align: center;
}

.fsc-description {min-height:40px; margin-left:-100px;}

.social-media {
    width: auto;
    display: table;
    text-align: center;


}
.social-media ul li a { color: #fff;}
.social-media{ width:100%;margin-top: 9px;}
.social-media ul {
    padding: 0;
    margin: 0;
    float: left;
    margin-top: 12px;
}
.social-media ul li{ display: inline-block;
    list-style: none;
    border-radius: 100%;
    width: 40px;
text-align:center;
    height: 40px; margin-left:5px}
.social-media ul li:nth-of-type(1){ background: #3B5998;color: #fff;font-size: 20px;padding: 4px 0;}
.social-media ul li:nth-of-type(2){ background: #1DA1F3;color: #fff;font-size: 20px;padding: 4px 0;}
.social-media ul li:nth-of-type(3){ background:#D34836;color: #fff;font-size: 20px;padding: 4px 0;}


/**********End_Login_Register**********/


/**********Start_Media_Query**********/

@media (max-width:568px) {
	.banner-1-text1 { font-size:1em; }
	.banner-1-text2 { font-size:1em; }
	.fsc-right-main-div { margin-top:1%; }
	.fsc-left-main-div { position:relative; }
	.fsc-col-grid { display:table; }
	.rig-dir { width:60%; }
	.acc-ser-width { width:60%; }
	.fin-ser-width { width:60%; }
	.fsc-col-list { margin-bottom:0%; margin-top:0%; }
	.fsc-hover-div { margin-top:4%; }
	.fsc-pillar-div { display:none; }
	.fsc-logo-div-img { margin-top:5%; }
	.fsc-logo-div { padding-right:15px; padding-left:15px; }
	.fsc-menu-wwd-div { position:relative; }
	.fsc-sub-imgs { text-align:center; }
}
@media only screen and (min-width:569px) and (max-width:768px) {
	.fsc-left-main-div { position:relative; }
	.rig-dir { width:100%; }
	.acc-ser-width { width:100%; }
	.fin-ser-width { width:75%; }
	.fsc-hover-div { margin-top:4%; } 
	.fsc-pillar-div { display:none; }
	.fsc-logo-div-img { margin-top:5%; }
	.fsc-menu-wwd-div { position:relative; } 
	.fsc-sub-imgs { text-align:center; }
}
@media (max-width:991px) {
	.fsc-pillar-div { display:none; }
	.fsc-form-row { text-align:left; }
	.fsc-element-margin{ margin-top:2%; }
	.fsc-reg-sub-header-div { margin-top:7%; }
}
@media (min-width:768px) {
	.sidebar-nav .navbar .navbar-collapse { padding:0; max-height:none; }
	.sidebar-nav .navbar ul { float:none; display:block; }
	.sidebar-nav .navbar li { float:none; display:block; }
	.sidebar-nav .navbar li a { padding-top:0; padding-bottom:0; }

}
@media (min-width:480px) {

.social-media {
    width: auto;
    margin: 0 auto;
    display: table;
    text-align: center;
}
    footer p a {
    padding: 5px 42px;
    display: inline-block;
}    
footer p a:hover {
    padding: 5px 41px;
}

}

/**********End_Media_Query**********/

@-webkit-keyframes scroll {
	100%{
		background-position:-3000px 3000px;
	}
}
@-moz-keyframes scroll {
	100%{
		background-position:-3000px 0px;
	}
}
@-o-keyframes scroll {
	100%{
		background-position:-3000px 0px;
	}
}
@-ms-keyframes scroll {
	100%{
		background-position:-3000px 0px;
	}
}
@keyframes scroll {
	100%{
		background-position:-3000px 0px;
	}
}


/*=====================================================
=         Bootstrap Media Queries Rakshit            =
=====================================================*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1500px) {
.fsc-apply-btn {
    padding: 1.5% 3% !important;
    margin-top: 10% !important;
    margin-right: 100px !important;
}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
footer p {
    font-size: 14px !important;
}
footer p a {
    font-size: 14px !important;
    padding: 5px 10px !important;
}
.fsc-apply-btn {
    padding: 1.5% 3% !important;
    margin-top: 10% !important;
    margin-right: 50px !important;
    display: inline-block;
}
.fsc-form-submit {
    font-size: 1em;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
footer p a {
    font-size: 13px !important;
    padding: 5px 5px !important;
}
.fsc-apply-btn {
    width: 100% !important;
    text-align: center !important;
}
.fsc-description {
    min-height: 40px;
    margin-left: -50px;
}
.title-direction { text-align:center;width:100%;}
.fsc-form-submit {
    padding: 10px 12px;
    margin: 10px 0;
    text-align: center;
    width: 100% !important;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.well-lg {
    padding: 15px;
}
.social-media ul {
    float: none;
}
.fsc-col-list {
    padding: 0px 30px;
}
.fsc-description {
    min-height: 40px;
    margin-left: 0;
    padding: 0px 20px;
}
.tabing-class {padding: 0px 20px;}
#sidbarStickly {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 99999999;
}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
footer p a {
    display: block;
}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}





